@CHARSET "ISO-8859-1";
* {margin:0; padding:0;outline:0; font:15px normal Calibri;}
body {
	background:#ffffff repeat center center;		
	text-align:left;
	color:#555555;
	width:1000px;
	padding:0;
	margin:0 auto;
/*	border:1px solid red;	*/
}
img {margin:0; padding:0; border:none; outline:0;}

a {
    font-weight:bold;
	text-decoration:none;
    color:#3a6b34;
	outline:0;
	margin:auto 5px; 
	padding:0;
}
a:hover, a:active {color:#cbd28f;}

div {display:block;}
p,span {margin:10px 0 10px 0;}
b {font-weight:bold;}
i {font-style: italic;}
ul {margin:0px 0px 20px 40px;}
h1 {font-size:24px;text-align:center;}
h2 {font-size:20px;text-align:center;}

/*==================================================================*/
/*__CONTENT__*/
.selected {color:#e3b448;}
.header{
	padding:40px 0 0 0;
	margin:0 auto;
	text-align:center;
	display:block;
}
.menu{
	font-size: 17px;
    font-weight: bold;
	margin:0 auto;
	text-align:center;
	display:block;
}
.menu > a {
    padding:0px 20px 0px 20px;
}
.hr{ 
    display: block;
	width:840px;
	margin:20px auto;
	background-color:#eeeeee;
	height:3px;
}
.content{
	margin:0 auto;
	text-align:left;
	display:block;
	padding:20px 10px 40px 50px;

}
.col{
	float:left;
	display:block;
	width:240px;
	padding:0 0 0 40px;
/*	border:1px solid red;	*/
}
/*__GENERAL__________________________________________________*/
.clear{
	clear:both;
}
.center{
	text-align:center;
}
.small{
	font-size: 13px;
}
.large{
	font-size: 17px;
}
.tiny{
	font-size: 12px;
}
.bold{
    font-weight: bold;
}
.leftmargin{
    margin: 0px 0px 0px 40px;
}

